.fuel_price_label {
    color: #6a6a6a;
}

.fuel-input-form {
    padding-top: 46vh;
    margin-bottom: 8vh;
}

.submitted-input-form {
    padding-top: 2vh;
}

#fuel_help {
    text-align: left;
}